@import "variables";

footer {
  display: flex;
  flex-direction: column;
  text-align: right;
  background-color: $darkblue;
  font-size: 15px;
  max-width: 100%;
  padding: 20px;
  color: $white;
  .footer-links ul {
    padding-right: 30px;
    margin: 0px;
  }
  .footer-links li {
    margin-right: 45px;
    float: right;
  }
      a {
        text-decoration: none;
        color: $white;
      }
  .footer-copy {
    margin-top: 5px;
    margin-right: 70px;

  }
}



