@import "variables";


footer {
  display: flex;
  flex-direction: column;
  text-align: right;
  background-color: lightgrey;
  width: 100%;
  padding: 5px;
}
  .footer-links ul {
    padding-right: 30px;
    margin: 0px;
  }
  .footer-links li {
    margin-right: 45px;
    list-style-type: none;
    float: right;
  }
      a {
        text-decoration: none;
        color: black;
      }
  .footer-copy {
    margin-right: 60px
  }



