@import "variables";

footer {
  display: flex;
  justify-content: end;
  margin: 0px;
  background-color: $darkblue;
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 10px;
  margin-right: 10px;
  width: fit-content;
  color: $white;
}

.footer-links {
  padding: 5px;
  width: fit-content;
  ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: -17px;
      li {
        margin: 0 10px;
        a {
          color: $white;
        }
      }
  }
}

.footer-copy {
  padding: 5px;
  margin-top: 5px;
  display: flex;
  justify-content: center;
  width: fit-content;
}


@media (max-width: 480px) {
  footer {
    justify-content: center;
  }
  .footer-container {
    margin: 0px;
  }
}