@import "variables";

body {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: $white;
}

header {
  z-index: 500;
  position: relative;
}

h2 {
  text-align: center;
  background-color: $eggshell;
  font-family: 'Montserrat', sans-serif;
  padding: 10px;
  margin: 0px;
}

h3 {
  text-align: center;
  background-color: $eggshell;
  font-family: 'Montserrat', sans-serif;
  padding: 10px;
  margin: 0px;
  font-size: 20px;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

ul {
  margin: 0px;
  padding: 0px;
}

.buy-btn {
  text-decoration: none;
  color: $white;
  background-color: $orange;
  padding: 7px 15px 7px 15px;
  border-radius: 15px;
}

.material-icons {
  vertical-align: middle;
  color: $orange;
}