nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $darkblue;
  color: $white;
  padding-left: 15px;
  padding-right: 15px;
  height: 50px;
  width: 100%;
  margin: 0px;
  .logo {
    width: 33px;
    height: 33px;
    border-radius: 50%;
    padding: 0px 30px 0px 30px;
  }
  .company {
    font-size: 0.9375rem;
    margin: 0px;
    padding: 0px;
    display: inherit;
    align-items: center;
    color: $white;
  }
  .nav-links {
    display: inherit;
    justify-content: end;
    align-items: center;
    a {
    text-decoration: none;
    color: $white;
    margin-right: 70px;
}
    i:hover {
      color: $orange;
    }
     }
    }

.header_save {
  text-align: center;
  font-size: 12px;
  padding: 5px;
  background-color: lightgrey;
  position: fixed;
  width: 100%;
  top: 50px;
    a {
      color: $blue;
    }
}