@import "globals";
@import "variables";
@import "header";
@import "footer";

.img_container {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  margin-top: 0px;
  background-color: $white;
  .img {
    width: 50%;
    height: auto;
    padding-top: 0px;
    margin: 200px 0px 50px 0px;
  }
}
  
.info_text {
  margin: 150px 0px 50px 0px;
  font-size: 20px;
  .small {
    color: $orange; 
    font-size: 10px;
    position: relative;
    top: 20px;
  }
  .hero {
    font-size: 60px;
    line-height: 50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
  }
  .info-learn {
    font-size: 16px;
  }
  .linkBlue {
    text-decoration: none;
    color: $blue;
  }
}

.feature_container {
  text-align: left;
  background-color: $white;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: end;
  justify-content: space-evenly;
  flex-direction: row;
  margin: 0px;
  padding: 0px;
  img {
    display: inherit;
    width: 800px;
    height: auto;
    padding: 0px 0px 0px 0px;
    border: 0px;
    transform: rotateY(180deg);
    z-index: 1;
    position: relative;
  }
}

.text {
  font-size: 20px;
  display: inherit;
  max-width: 400px;
  height: auto;
  padding: 0px;
  margin-top: 30px;
  ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px;
    line-height: 2;
  } 
    li {
      margin: 20px 0px 20px 0px;
    }
  }

.pricing {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 50px 200px 50px 200px;
  height: 400px;
}

.devices {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: calc(100% / 3);
  margin: 20px;
  border-radius: 3px;
  background-color: $eggshell;
  h4 {
    background-color: $lightgrey;
    width: 100%;
    margin: 0px 0px 30px 0px;
    padding: 10px 0px 10px 0px;
  }
  li {
    line-height: 2;
    text-align: center;
    padding: 5px;
    margin: 0px;
  }
  a {
    position: relative;
    top: 35px;
    width: 35%;
  }
}



