@import "globals";
@import "variables";
@import "header";
@import "footer";

.img_container {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  margin-top: 0px;
  .img {
    width: 50%;
    height: auto;
    padding-top: 0px;
    margin: 200px 0px 50px 0px;
} 
  .info_text {
    margin: 150px 0px 50px 0px;
    font-size: 20px;
    .small {
      color: $orange; 
      font-size: 10px;
      position: relative;
      top: 20px;
    }
    .hero {
      font-size: 60px;
      line-height: 50px;
    }
    .orange_button {
      text-decoration: none;
      color: $white;
      background-color: $orange;
      padding: 7px 15px 7px 15px;
      border-radius: 15px;
    }
    .info-learn {
      font-size: 16px;
      .linkBlue {
        text-decoration: none;
        color: $blue;
      }
    }
  }
}

.feature_container {
  text-align: left;
  background-color: $white;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  justify-content: space-evenly;
  flex-direction: row-reverse;
  border: 1px solid;
  .feature_container img {
    display: inherit;
    max-width: 400px;
    height: auto;
    padding: 0px 0px 0px 0px;
    .text {
      font-size: 15px;
      display: inherit;
      max-width: 400px;
      height: auto;
      padding: 0px 0px 0px 0px;
      border: 1px solid;
    }
  }
}